@charset "UTF-8";
@keyframes banner {
  0%, 20% {
    background-image: url("../imagenes/imagen1.jpg");
    background-size: cover;
    background-position: center; }
  25%, 45% {
    background-image: url("../imagenes/imagen2.jpg");
    background-size: cover;
    background-position: center; }
  50%, 70% {
    background-image: url("../imagenes/imagen3.jpg");
    background-size: cover;
    background-position: center; }
  75%, 100% {
    background-image: url("../imagenes/imagen4.jpg");
    background-size: cover;
    background-position: center; } }

.busqueda {
  font-size: 1em;
  background: none;
  border: none;
  background-color: rgba(14, 14, 14, 0.712);
  color: #fff;
  width: 45%;
  height: 3.75em;
  cursor: pointer;
  outline: none; }

.details-container-options-btn {
  border: none;
  outline: none; }

.carousel-item .carouselTitle {
  letter-spacing: .25em; }

/**
 * Estilos para la página de inicio.
 */
/* ----- RESET DE ESTILOS ----- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* ----- ESTILOS GENERALES DE LA PÁGINA ----- */
html {
  scroll-behavior: smooth;
  overflow-x: hidden; }

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  width: 100%;
  font-size: 16px;
  background: white; }

.contenedor {
  width: 100%;
  margin: auto; }

/* ----- ESTILOS DEL ENCABEZADO (HEADER) ----- */
header .arriba {
  box-shadow: 1px 1px 1px solid #000;
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 100%;
  position: fixed;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  header .arriba .logo a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none; }
    header .arriba .logo a .logo_name {
      color: #000;
      margin-left: -10.125em; }
      header .arriba .logo a .logo_name .name {
        margin-top: 0.3125em;
        font-weight: bold;
        font-size: 1.125em;
        letter-spacing: 0.5px; }
      header .arriba .logo a .logo_name .job {
        font-size: 0.875em;
        letter-spacing: 0.5px; }
  header .arriba .logo img {
    vertical-align: top;
    margin-left: 1.875em;
    width: 15.625em; }
  header .arriba #check {
    display: none; }

header label {
  display: none; }
  header label i {
    color: #000;
    font-size: 1.875em;
    padding: 0.625em;
    border-left: 1px solid rgba(0, 0, 0, 0.178); }
    header label i:hover {
      cursor: pointer; }

.menu {
  padding-top: 2.3125em; }
  .menu ul li {
    display: inline-block;
    margin: 1.25em;
    list-style: none;
    position: relative; }
    .menu ul li::after {
      content: "";
      height: 2px;
      width: 0;
      background-color: black;
      position: absolute;
      bottom: -8.8px;
      right: 50%;
      transition: 0.3s all; }
    .menu ul li:hover::after {
      width: 100%;
      right: 0; }
    .menu ul li a {
      color: black;
      text-decoration: none;
      font-size: 1.125em; }

/* ----- ESTILOS DEL BANNER ----- */
.banner {
  width: 100%;
  height: 43.75em;
  animation: banner 15s infinite linear alternate;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed; }

@keyframes banner {
  0%, 20% {
    background-image: url("../imagenes/imagen1.jpg");
    background-size: cover;
    background-position: center; }
  25%, 45% {
    background-image: url("../imagenes/imagen2.jpg");
    background-size: cover;
    background-position: center; }
  50%, 70% {
    background-image: url("../imagenes/imagen3.jpg");
    background-size: cover;
    background-position: center; }
  75%, 100% {
    background-image: url("../imagenes/imagen4.jpg");
    background-size: cover;
    background-position: center; } }

.contenedorImagen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6); }

.contenedorTexto {
  margin-top: 12.5em;
  z-index: 1;
  width: 100%;
  text-align: center;
  z-index: 0; }
  .contenedorTexto h1 {
    color: #fff;
    font-size: 3.125em;
    margin-bottom: 1.25em;
    letter-spacing: 1px; }
  .contenedorTexto a {
    color: #fff;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    padding: 1em 2.3125em;
    display: inline-block;
    border-radius: 50px;
    font-family: "Lora", serif;
    font-weight: bold; }
    .contenedorTexto a:hover {
      background: rgba(255, 255, 255, 0.3); }

.btn-mas {
  margin-top: 2.5em; }

/* ----- ESTILOS DE LA SECCIÓN "ACERCA" ----- */
.main_inicio .acerca {
  width: 100%;
  text-align: center;
  max-width: 75em;
  margin: auto; }
  .main_inicio .acerca h2 {
    padding-top: 3.125rem;
    font-family: 'Lora', serif;
    font-size: 2.5em;
    font-weight: 500; }
  .main_inicio .acerca p {
    color: #5a5a5a;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.875em;
    width: 80%;
    margin: 2.5em auto 3.75em auto;
    text-align: left; }

/* ----- ESTILOS DEL GRID ----- */
header {
  grid-area: header; }

.main_inicio {
  grid-area: acerca; }

footer {
  grid-area: footer; }

.grid_inicio {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  grid-template-areas: "header" "acerca" "footer"; }

/**
 * Estilos para la sección de Venta y Alquiler.
 */
/* ----- VENTA Y ALQUILER ----- */
.main_venta {
  background-color: #d3d3d3;
  padding-top: 7.8125em; }
  .main_venta .cont_selec {
    display: flex;
    flex-wrap: wrap;
    max-width: 79.1875em;
    width: 100%;
    margin: auto;
    padding-left: 1.5625em;
    margin-bottom: 1.25em;
    margin-top: 4.375em; }
    .main_venta .cont_selec .selector {
      padding: 0.9375em 1.25em;
      width: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #d3d3d3;
      margin-bottom: 1.25em;
      border-bottom: 2px solid rgba(63, 63, 63, 0.507);
      color: #3f3f3f;
      margin-right: 2.1875em;
      cursor: pointer; }
      .main_venta .cont_selec .selector p {
        letter-spacing: 0.3px; }
      .main_venta .cont_selec .selector i {
        font-size: 1.25em;
        margin-bottom: 0.125em; }
      .main_venta .cont_selec .selector:hover {
        transition: all 0.3s ease-in-out;
        border-bottom: 2px solid black; }
    .main_venta .cont_selec .padre_precios, .main_venta .cont_selec .padre_busqueda {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 30%;
      margin-bottom: 1.25em;
      margin-right: 2.1875em; }
      .main_venta .cont_selec .padre_precios .padre_precio, .main_venta .cont_selec .padre_busqueda .padre_precio, .main_venta .cont_selec .padre_precios .padre_precio2, .main_venta .cont_selec .padre_busqueda .padre_precio2 {
        margin-top: 0.375em;
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-right: 1em; }
        .main_venta .cont_selec .padre_precios .padre_precio:hover .border, .main_venta .cont_selec .padre_busqueda .padre_precio:hover .border, .main_venta .cont_selec .padre_precios .padre_precio2:hover .border, .main_venta .cont_selec .padre_busqueda .padre_precio2:hover .border {
          border-bottom: 2px solid #000; }
        .main_venta .cont_selec .padre_precios .padre_precio .selec_precio, .main_venta .cont_selec .padre_busqueda .padre_precio .selec_precio, .main_venta .cont_selec .padre_precios .padre_precio2 .selec_precio, .main_venta .cont_selec .padre_busqueda .padre_precio2 .selec_precio {
          border: 0 !important;
          background-color: #d3d3d3;
          outline: none;
          padding: 0.9375em 1.25em;
          width: 100%;
          margin-bottom: 0.2em;
          margin-right: 0.75em; }
          .main_venta .cont_selec .padre_precios .padre_precio .selec_precio::placeholder, .main_venta .cont_selec .padre_busqueda .padre_precio .selec_precio::placeholder, .main_venta .cont_selec .padre_precios .padre_precio2 .selec_precio::placeholder, .main_venta .cont_selec .padre_busqueda .padre_precio2 .selec_precio::placeholder {
            color: #3f3f3f;
            font-size: 1em; }
        .main_venta .cont_selec .padre_precios .padre_precio .border, .main_venta .cont_selec .padre_busqueda .padre_precio .border, .main_venta .cont_selec .padre_precios .padre_precio2 .border, .main_venta .cont_selec .padre_busqueda .padre_precio2 .border {
          border-bottom: 2px solid rgba(63, 63, 63, 0.507);
          width: 100%; }
      .main_venta .cont_selec .padre_precios .padre_precio2, .main_venta .cont_selec .padre_busqueda .padre_precio2 {
        margin-right: 0; }
    .main_venta .cont_selec .padre_busqueda {
      justify-content: center; }
      .main_venta .cont_selec .padre_busqueda .busqueda:hover {
        background-color: rgba(14, 14, 14, 0.849); }
      .main_venta .cont_selec .padre_busqueda .busqueda::placeholder {
        color: #fff;
        font-family: Arial, Helvetica, sans-serif; }
    .main_venta .cont_selec .result_busqueda {
      width: 100%;
      font-family: "Lora", serif;
      letter-spacing: 1px;
      margin-top: 3.125rem;
      font-size: 1.875em;
      font-weight: 400;
      color: #3f3f3f;
      border-bottom: 1px solid;
      padding-bottom: 0.5em; }

.casas {
  padding-bottom: 3.125em;
  width: 100%;
  max-width: 79.1875em;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }
  .casas .casa1, .casas .casa2, .casas .casa3, .casas .casa4, .casas .casa5, .casas .casa6 {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(182, 183, 183, 0.6);
    width: 30%;
    background-color: #fff;
    margin-right: 1.562em;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 1.25em;
    cursor: pointer; }
    .casas .casa1:hover, .casas .casa2:hover, .casas .casa3:hover, .casas .casa4:hover, .casas .casa5:hover, .casas .casa6:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
      transition: all 0.2s ease-in-out; }
      .casas .casa1:hover img, .casas .casa2:hover img, .casas .casa3:hover img, .casas .casa4:hover img, .casas .casa5:hover img, .casas .casa6:hover img {
        transition: all 500ms ease;
        transform: scale(1.2);
        opacity: .9; }
    .casas .casa1 .cont-img, .casas .casa2 .cont-img, .casas .casa3 .cont-img, .casas .casa4 .cont-img, .casas .casa5 .cont-img, .casas .casa6 .cont-img {
      overflow: hidden;
      background-color: #000; }
      .casas .casa1 .cont-img img, .casas .casa2 .cont-img img, .casas .casa3 .cont-img img, .casas .casa4 .cont-img img, .casas .casa5 .cont-img img, .casas .casa6 .cont-img img {
        width: 100%;
        height: 14.0625em;
        vertical-align: top;
        transition: all 500ms ease; }
    .casas .casa1 .cont-carac, .casas .casa2 .cont-carac, .casas .casa3 .cont-carac, .casas .casa4 .cont-carac, .casas .casa5 .cont-carac, .casas .casa6 .cont-carac {
      padding: 1.25em;
      height: 18em; }
      .casas .casa1 .cont-carac .desc_icono, .casas .casa2 .cont-carac .desc_icono, .casas .casa3 .cont-carac .desc_icono, .casas .casa4 .cont-carac .desc_icono, .casas .casa5 .cont-carac .desc_icono, .casas .casa6 .cont-carac .desc_icono {
        height: 20%;
        display: flex;
        justify-content: space-between;
        color: #3f3f3f; }
        .casas .casa1 .cont-carac .desc_icono span, .casas .casa2 .cont-carac .desc_icono span, .casas .casa3 .cont-carac .desc_icono span, .casas .casa4 .cont-carac .desc_icono span, .casas .casa5 .cont-carac .desc_icono span, .casas .casa6 .cont-carac .desc_icono span {
          margin-left: -2.8125em;
          color: #3f3f3f;
          font-family: "Lora", serif;
          font-weight: 400; }
      .casas .casa1 .cont-carac .descrip-casa, .casas .casa2 .cont-carac .descrip-casa, .casas .casa3 .cont-carac .descrip-casa, .casas .casa4 .cont-carac .descrip-casa, .casas .casa5 .cont-carac .descrip-casa, .casas .casa6 .cont-carac .descrip-casa {
        height: 60%;
        color: #3f3f3f;
        font-size: 0.8125em;
        line-height: 1.25em;
        overflow: hidden;
        margin-top: -1em; }
      .casas .casa1 .cont-carac h3, .casas .casa2 .cont-carac h3, .casas .casa3 .cont-carac h3, .casas .casa4 .cont-carac h3, .casas .casa5 .cont-carac h3, .casas .casa6 .cont-carac h3 {
        margin-top: 2.5em;
        height: 20%;
        text-align: right;
        font-size: 1em;
        padding: 0.3125em;
        font-family: "Lora", serif; }

/* ----- GRID ----- */
.main_venta {
  grid-area: venta; }

.grid_venta_alquiler {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "venta" "footer"; }

/**
 * Estilos para la sección Nosotros.
 */
/* ----- ESTILOS DE LA SECCIÓN NOSOTROS ----- */
.main_nosotros {
  background: #3c4045;
  padding-top: 7.8125em; }
  .main_nosotros .flex_nosotros {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap; }

.info {
  width: 50%; }
  .info .cordoba {
    padding: 2.8125em 0em 1.0125em 0em; }
    .info .cordoba .contenedor-texto {
      text-align: left;
      line-height: 1.25em;
      color: #979797; }
      .info .cordoba .contenedor-texto .tit {
        text-align: center;
        margin-bottom: 1.25em;
        color: #acacac;
        font-weight: 600;
        font-family: "Lora", serif; }
  .info .informacion {
    text-align: center; }
    .info .informacion .titulo {
      padding: 0.5em;
      font-family: "Lora", serif;
      font-size: 3.4375em;
      font-weight: 400;
      color: #acacac; }
    .info .informacion p {
      color: #979797;
      font-weight: 400;
      text-align: left; }
    .info .informacion .surgio {
      text-align: center;
      margin: 1.25em 1.25em;
      color: #acacac;
      font-weight: 600;
      font-family: "Lora", serif; }
    .info .informacion .tex {
      padding-bottom: 2.5em; }

.contenedor-imagen2 {
  background-size: cover;
  background-image: url("../imagenes/fotoo.jpg");
  vertical-align: top;
  margin-top: 5.625em;
  background-repeat: no-repeat;
  background-position: center;
  width: 31.25em;
  height: 31.25em;
  box-shadow: 10px 15px 15px 0px rgba(0, 0, 0, 0.035); }

.clientes {
  clear: both;
  background: #ffffff;
  color: #fff;
  height: 31.25em;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: -1.25em; }
  .clientes h2 {
    text-align: center;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 2.5em;
    color: #353535;
    padding: 3.125rem 0 3.75rem 0; }
  .clientes .cliente1, .clientes .cliente2 {
    width: 50%;
    margin: auto;
    display: flex;
    margin-bottom: 1.25em;
    text-align: left; }
    .clientes .cliente1 .cont_img_cliente, .clientes .cliente2 .cont_img_cliente {
      width: 6.25em;
      height: 6.25em;
      border-radius: 100%;
      overflow: hidden;
      margin-right: 1.875em; }
      .clientes .cliente1 .cont_img_cliente .foto_cliente, .clientes .cliente2 .cont_img_cliente .foto_cliente {
        background-position: center;
        background-size: cover;
        vertical-align: top; }
  .clientes .cliente2 {
    flex-direction: row-reverse; }
    .clientes .cliente2 .cont_img_cliente {
      width: 6.25em;
      height: 6.25em;
      border-radius: 100%;
      overflow: hidden;
      margin-left: 1.875em;
      padding-right: 6.25em; }
      .clientes .cliente2 .cont_img_cliente .foto_cliente {
        background-size: cover;
        background-position: center;
        vertical-align: top; }

.opinion {
  color: #000;
  font-size: 1.125em;
  line-height: 1.75em;
  margin-bottom: 0.625em;
  align-self: center;
  width: 70%; }

/* ----- GRID ----- */
.main_nosotros {
  grid-area: nosotros; }

.grid_nosotros {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "nosotros" "footer"; }

/**
 * Estilos para la sección de contacto.
 */
.main_contacto {
  /**
     * Contenedor de la imagen de fondo para la sección de contacto.
     */ }
  .main_contacto .contenedor-imagen {
    padding-top: 6.25em;
    background-image: url(../imagenes/depto3.jpg);
    vertical-align: top;
    background-color: #303030;
    background-blend-mode: soft-light;
    width: 100%;
    height: 60.625em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    /**
         * Contenedor principal para el contenido de la sección de contacto.
         */ }
    .main_contacto .contenedor-imagen .contacto {
      width: 100%;
      text-align: center;
      /** 
             * Título de la sección de contacto.
             */ }
      .main_contacto .contenedor-imagen .contacto .titulo {
        color: #fff;
        font-family: "Lora", serif;
        padding: 2.5rem;
        font-size: 2.5em;
        font-weight: normal;
        margin-bottom: 6rem; }

/**
 * Estilos para el formulario de contacto.
 */
.formulario {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 50em;
  /**
     * Contenedor principal del formulario.
     */
  /**
     * Estilos para el botón del formulario.
     */ }
  .formulario .form {
    width: 100%;
    height: 50px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    /**
         * Campo de entrada del formulario.
         */
    /**
         * Etiqueta flotante para el campo de nombre.
         */
    /**
         * Texto del nombre flotante.
         */ }
    .formulario .form input {
      width: 100%;
      height: 100%;
      background: none;
      color: #fff;
      padding-top: 20px;
      border: none;
      outline: 0px; }
    .formulario .form .lbl-nombre {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 1px solid #c7c7c7; }
      .formulario .form .lbl-nombre::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 100%;
        border-bottom: 2px solid #ffffff;
        transform: translateX(-100%);
        transition: all 0.7s ease; }
    .formulario .form .text-nomb {
      position: absolute;
      bottom: 5px;
      left: 0;
      transition: all 0.3s ease;
      color: #797979; }
  .formulario .boton {
    font-size: 1em;
    background: none;
    border: none;
    border: 2px solid #e6e6e6;
    color: #fff;
    width: 10.625em;
    padding: 1.25em;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    outline: none; }
    .formulario .boton:hover {
      transition: all 0.3s;
      width: 12.5em; }
    .formulario .boton::placeholder {
      color: rgba(255, 255, 255, 0.87);
      font-family: Arial, Helvetica, sans-serif; }

/**
 * Estilos para las interacciones del campo de nombre en el formulario.
 */
.form input:focus + .lbl-nombre .text-nomb,
.form input:valid + .lbl-nombre .text-nomb {
  transform: translateY(-150%);
  font-size: 14px;
  color: #ffffff; }

/**
 * Estilos para el indicador después del campo de nombre en el formulario.
 */
.form input:focus + .lbl-nombre:after,
.form input:valid + .lbl-nombre:after {
  transform: translateX(0%); }

/* ----- Configuración de la cuadrícula ----- */
/**
 * Configuración de la cuadrícula para la sección de contacto.
 */
.main_contacto {
  grid-area: contacto; }

/**
 * Definición de la cuadrícula para la sección de contacto.
 */
.grid_contacto {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "contacto" "footer"; }

/**
 * Estilos para la sección del footer.
 */
/* ----- ESTILOS DEL FOOTER ----- */
footer {
  background-color: #242424;
  width: 100%; }
  footer .foot_padre {
    padding: 2.5em 0 2.5em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    footer .foot_padre .cont_logo_foot {
      margin: 0;
      padding-left: 2.1875em;
      width: 25%;
      display: flex;
      align-items: center; }
      footer .foot_padre .cont_logo_foot .cont_imgLogo {
        background-image: url(../../imagenes/iconoFINAL.ico);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 8.125em;
        height: 8.125em; }
      footer .foot_padre .cont_logo_foot .logo_name_foot {
        margin-left: -0.9375em;
        color: #fff;
        letter-spacing: 0.5px; }
        footer .foot_padre .cont_logo_foot .logo_name_foot .name_foot {
          font-size: 1.25em;
          font-weight: bold; }
        footer .foot_padre .cont_logo_foot .logo_name_foot .job_foot {
          font-size: 0.875em; }
    footer .foot_padre .sobre_nosotros {
      width: 70%;
      color: #fff; }
      footer .foot_padre .sobre_nosotros .sobre {
        margin-bottom: 0.625em;
        letter-spacing: 0.5px;
        font-size: 1.25em; }
      footer .foot_padre .sobre_nosotros .infoo {
        padding-right: 20px;
        color: #cfcfcf;
        line-height: 1.4375em;
        margin: 0.3125em 0 1.25em 0; }
      footer .foot_padre .sobre_nosotros .ubicacion .contenedorUbi {
        display: flex; }
        footer .foot_padre .sobre_nosotros .ubicacion .contenedorUbi .direccion {
          width: 25%; }
          footer .foot_padre .sobre_nosotros .ubicacion .contenedorUbi .direccion h4 {
            margin-bottom: 0.625em;
            font-size: 1.25em; }
          footer .foot_padre .sobre_nosotros .ubicacion .contenedorUbi .direccion p {
            color: #cfcfcf;
            line-height: 1.4375em;
            font-size: 0.875em; }
        footer .foot_padre .sobre_nosotros .ubicacion .contenedorUbi .contacto_info {
          width: 25%; }
          footer .foot_padre .sobre_nosotros .ubicacion .contenedorUbi .contacto_info h4 {
            margin-bottom: 0.625em;
            font-size: 1.25em; }
          footer .foot_padre .sobre_nosotros .ubicacion .contenedorUbi .contacto_info p {
            color: #cfcfcf;
            line-height: 1.4375em;
            font-size: 0.875em; }
        footer .foot_padre .sobre_nosotros .ubicacion .contenedorUbi .horarios {
          width: 25%; }
          footer .foot_padre .sobre_nosotros .ubicacion .contenedorUbi .horarios .horariosHijo h4 {
            margin-bottom: 0.625em;
            font-size: 1.25em; }
          footer .foot_padre .sobre_nosotros .ubicacion .contenedorUbi .horarios .horariosHijo p {
            color: #cfcfcf;
            line-height: 1.4375em;
            font-size: 0.875em; }
        footer .foot_padre .sobre_nosotros .ubicacion .contenedorUbi .redes-sociales {
          width: 25%;
          padding-right: 250px; }
          footer .foot_padre .sobre_nosotros .ubicacion .contenedorUbi .redes-sociales .contac {
            width: 12.5em;
            margin-bottom: 0.625em;
            font-size: 1.25em; }
          footer .foot_padre .sobre_nosotros .ubicacion .contenedorUbi .redes-sociales .contenedor-redes {
            display: flex; }
            footer .foot_padre .sobre_nosotros .ubicacion .contenedorUbi .redes-sociales .contenedor-redes a {
              background-color: #2c2c2c;
              color: #fff;
              text-align: center;
              margin-right: 0.625em;
              padding: 0.625rem 1.25rem;
              border-radius: 3px;
              font-size: 0.9375em; }
            footer .foot_padre .sobre_nosotros .ubicacion .contenedorUbi .redes-sociales .contenedor-redes .twitter:hover {
              background-color: #1da1f2; }
            footer .foot_padre .sobre_nosotros .ubicacion .contenedorUbi .redes-sociales .contenedor-redes .facebook:hover {
              background-color: #1877f2; }
            footer .foot_padre .sobre_nosotros .ubicacion .contenedorUbi .redes-sociales .contenedor-redes .instagram:hover {
              background-color: #e1306c; }
            footer .foot_padre .sobre_nosotros .ubicacion .contenedorUbi .redes-sociales .contenedor-redes .whatsapp:hover {
              background-color: #25d366; }
  footer .copy {
    width: 100%;
    background-color: #242424; }
    footer .copy .hr {
      margin: auto;
      border: none;
      height: 0.0625rem;
      background-color: #7a7a7a;
      max-width: 60%; }
    footer .copy p {
      color: #fff;
      text-align: center;
      padding: 0.9375em; }

/**
 * Estilos para la respuesta a diferentes tamaños de pantalla (responsive).
 */
/* ----- RESPONSIVE ----- */
@media screen and (max-width: 1200px) {
  body {
    font-size: 14px; }
  .desc_icono span {
    padding-left: 10px; }
  .clientes .cliente1, .clientes .cliente2 {
    width: 90%; }
  .contenedor-imagen2 {
    width: 25em; } }

@media screen and (max-width: 992px) {
  body {
    font-size: 11px; }
  .desc_icono span {
    padding-left: 10px; }
  .titulo {
    margin-bottom: 1rem !important; } }

@media screen and (max-width: 768px) {
  body {
    font-size: 12px; }
  .logo {
    margin-left: -40px; }
  header label {
    display: block;
    position: fixed;
    top: 2.5em;
    right: 2.5em; }
  .menu ul {
    position: fixed;
    top: 8.125em;
    right: -100%;
    background-color: #222;
    width: 45%; }
    .menu ul li {
      padding: 0;
      padding-top: 1.875em;
      margin: 0;
      display: block;
      display: flex;
      justify-content: center; }
      .menu ul li:hover {
        background-color: rgba(255, 255, 255, 0.2); }
      .menu ul li a {
        color: #fff;
        padding-bottom: 1.5625em; }
        .menu ul li a:hover {
          border: none; }
  header label {
    top: 1.5625rem; }
  #check:checked ~ .menu ul {
    right: 0px;
    transition: all .40s; }
  .contenedorTexto h1 {
    font-size: 2.375em; }
  .banner {
    height: 600px;
    background-attachment: local; }
  .cont_selec {
    justify-content: center; }
  .selector {
    min-width: 40%; }
  .padre_precios, .main_venta .cont_selec .padre_busqueda {
    min-width: 40%; }
  .padre_busqueda {
    min-width: 40%; }
  .result_busqueda {
    max-width: 87%; }
  .desc_icono span {
    padding-left: 16px; }
  .casas .casa1, .casas .casa2, .casas .casa3, .casas .casa4, .casas .casa5, .casas .casa6, .casas .casa2, .casas .casa3, .casas .casa4, .casas .casa5, .casas .casa6 {
    width: 40%;
    margin: 0;
    margin-bottom: 20px; }
  .casas .casa1, .casas .casa2, .casas .casa3, .casas .casa4, .casas .casa5, .casas .casa6, .casas .casa3, .casas .casa5 {
    margin-right: 20px; }
  .casas .casa1, .casas .casa2, .casas .casa3, .casas .casa4, .casas .casa5, .casas .casa6, .casas .casa2 {
    margin: 10px 10px 20px 10px; }
  .clientes h2 {
    font-size: 25px; }
  .clientes .cliente1, .clientes .cliente2 {
    width: 90%; }
  .clientes .opinion {
    font-size: 12px; }
  .contenedor-imagen2 {
    width: 15em;
    margin-top: 170px; }
  .formulario {
    max-width: 500px; }
  .sobre_nosotros {
    padding-left: 90px; }
    .sobre_nosotros .ubicacion {
      margin-top: -10px; }
    .sobre_nosotros .contacto_info {
      margin-top: 10px; }
    .sobre_nosotros .horarios {
      margin-top: 10px; }
    .sobre_nosotros .redes-sociales {
      margin-top: 10px; }
  .cont_logo_foot {
    min-width: 30%; }
    .cont_logo_foot .cont_imgLogo {
      min-width: 130px;
      margin-right: -15px; }
  .contenedorUbi {
    min-width: 70%;
    flex-direction: column; } }

@media screen and (max-width: 576px) {
  body {
    font-size: 12px; }
  .casas .casa1, .casas .casa2, .casas .casa3, .casas .casa4, .casas .casa5, .casas .casa6, .casas .casa2, .casas .casa3, .casas .casa4, .casas .casa5, .casas .casa6 {
    width: 80%;
    margin: 0;
    margin-bottom: 20px; }
  .clientes {
    height: 420px; }
  .info {
    width: 80%; }
  .contenedor-imagen2 {
    margin: 0.625em 10px 2.5em 10px;
    width: 25em;
    height: 24em; }
  .formulario {
    max-width: 300px; }
  .foot_padre {
    margin-bottom: -30px;
    min-width: 100%;
    flex-direction: column; }
  .contenedorUbi {
    flex-direction: row;
    flex-wrap: wrap; }
  .sobre_nosotros {
    min-width: 100%;
    order: 1;
    padding-left: 20px; }
  .cont_logo_foot {
    min-width: 80%;
    justify-content: center;
    padding-top: 50px;
    order: 2; }
  .direccion {
    min-width: 50%; }
  .contacto_info {
    min-width: 50%;
    margin-top: 0 !important; }
  .horarios {
    min-width: 50%; }
  .redes-sociales {
    min-width: 50%;
    padding-right: 0 !important; }
    .redes-sociales a {
      padding: 9px 9px !important; } }

@media screen and (max-width: 300px) {
  body {
    font-size: 10px; }
  header label {
    top: 1.2rem; }
  .selector {
    min-width: 100%; }
  .padre_precios, .main_venta .cont_selec .padre_busqueda {
    min-width: 100%; }
  .padre_busqueda {
    width: 100%; }
  .clientes {
    height: 550px; }
    .clientes h2 {
      font-size: 25px; }
    .clientes .cliente1, .clientes .cliente2 {
      width: 90%; }
  .formulario {
    max-width: 200px !important; }
  .redes-sociales a {
    padding: 7px 7px !important; } }

.details-container {
  background-color: color("blanco");
  height: fit-content;
  padding: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em; }
  .details-container-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em; }
    .details-container-info-main {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2em;
      background-color: #a8a8a8;
      padding: 1em; }
    .details-container-info-description {
      padding: 0 1em 1em 1em; }
    .details-container-info-amenities {
      background-color: #a8a8a8; }
      .details-container-info-amenities .list-group-item {
        background-color: #a8a8a8; }
  .details-container-options {
    background-color: #a8a8a8;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em; }
    .details-container-options-btn {
      background-color: #a8a8a8;
      color: color("blanco");
      transition: all .2s ease-in-out;
      padding: .3em;
      min-width: 15vw; }
    .details-container-options-btn:hover {
      color: white; }
    .details-container-options-phone {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: .8em; }
      .details-container-options-phone-number {
        color: color(dorado); }
      .details-container-options-phone-number:hover {
        scale: 1.1;
        cursor: pointer;
        transition: all .2s ease-in-out;
        color: white; }
  .details-container .fa-star {
    color: #242424; }

.carousel-item {
  height: 80vh !important; }
  .carousel-item img {
    height: 100vh !important;
    object-fit: cover;
    filter: brightness(80%); }
