/**
 * Estilos para la página de inicio.
 */

/* ----- RESET DE ESTILOS ----- */

/// Reset general para eliminar márgenes, padding y ajustar el modelo de caja.
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----- ESTILOS GENERALES DE LA PÁGINA ----- */

/// Configuraciones generales para el documento HTML.
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/// Configuraciones generales para el cuerpo de la página.
body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    width: 100%;
    font-size: 16px;
    background: $colorBack;
}

/// Contenedor principal de la página.
.contenedor {
    width: 100%;
    margin: auto;
}

/* ----- ESTILOS DEL ENCABEZADO (HEADER) ----- */

/// Estilos para el encabezado de la página.
header {
    /// Estilos para la sección superior del encabezado.
    .arriba {
        box-shadow: 1px 1px 1px solid #000;
        display: flex;
        justify-content: space-around;
        background-color: $colorBack;
        width: 100%;
        position: fixed;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2 );
        z-index: 1;

        /// Estilos para el logo y su contenedor.
        .logo {
            a {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                text-decoration: none;

                /// Estilos para el nombre y descripción del logo.
                .logo_name {
                    color: #000;
                    margin-left: -10.125em;

                    .name {
                        margin-top: 0.3125em;
                        font-weight: bold;
                        font-size: 1.125em;
                        letter-spacing: 0.5px;
                    }

                    .job {
                        font-size: 0.875em;
                        letter-spacing: 0.5px;
                    }
                }
            }

            img {
                vertical-align: top;
                margin-left: 1.875em;
                width: 15.625em;
            }
        }

        /// Elemento para mostrar y ocultar menú en dispositivos móviles.
        #check {
            display: none;
        }
    }

    /// Estilos para la etiqueta de menú en dispositivos móviles.
    label {
        display: none;

        i {
            color: #000;
            font-size: 1.875em;
            padding: 0.625em;
            border-left: 1px solid rgba(0, 0, 0, 0.178);

            &:hover {
                cursor: pointer;
            }
        }
    }
}

/// Estilos para el menú de navegación.
.menu {
    padding-top: 2.3125em;

    ul {
        li {
            display: inline-block;
            margin: 1.25em;
            list-style: none;
            position: relative;

            /// Efecto de línea debajo del enlace al pasar el ratón.
            &::after {
                content: "";
                height: 2px;
                width: 0;
                background-color: rgb(0, 0, 0);
                position: absolute;
                bottom: -8.8px;
                right: 50%;
                transition: 0.3s all;
            }

            &:hover {
                &::after {
                    width: 100%;
                    right: 0;
                }
            }

            a {
                color: black;
                text-decoration: none;
                font-size: 1.125em;
            }
        }
    }
}

/* ----- ESTILOS DEL BANNER ----- */

/// Estilos para el banner de la página de inicio.
.banner {
    width: 100%;
    height: 43.75em;
    animation: banner 15s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

/// Animación de cambio de fondo en el banner.
@keyframes banner {
    0%, 20% {
        background-image: url("../../imagenes/imagen1.jpg");
        background-size: cover;
        background-position: center;
    }

    25%, 45% {
        background-image: url("../../imagenes/imagen2.jpg");
        background-size: cover;
        background-position: center;
    }

    50%, 70% {
        background-image: url("../../imagenes/imagen3.jpg");
        background-size: cover;
        background-position: center;
    }

    75%, 100% {
        background-image: url("../../imagenes/imagen4.jpg");
        background-size: cover;
        background-position: center;
    }
}

/// Capa de fondo semitransparente sobre el banner.
.contenedorImagen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
}

/// Estilos para el contenido de texto sobre el banner.
.contenedorTexto {
    margin-top: 12.5em;
    z-index: 1;
    width: 100%;
    text-align: center;
    z-index: 0;

    h1 {
        color: #fff;
        font-size: 3.125em;
        margin-bottom: 1.25em;
        letter-spacing: 1px;
    }

    a {
        color: #fff;
        text-decoration: none;
        background: rgba(255, 255, 255, .2);
        padding: 1em 2.3125em;
        display: inline-block;
        border-radius: 50px;
        font-family: $primaryFont;
        font-weight: bold;
        
        &:hover {
            background: rgba(255, 255, 255, .3);
        }
    }
}

/// Estilos para el botón "Más" sobre el banner.
.btn-mas {
    margin-top: 2.5em;
}

/* ----- ESTILOS DE LA SECCIÓN "ACERCA" ----- */

/// Estilos para la sección "Acerca" en la página de inicio.
.main_inicio {
    .acerca {
        width: 100%;
        text-align: center;
        max-width: 75em;
        margin: auto;

        h2 {
            padding-top: 3.125rem;
            @include title;
        }

        p {
            color: #5a5a5a;
            font-weight: 600;
            font-size: 1em;
            line-height: 1.875em;
            width: 80%;
            margin: 2.5em auto 3.75em auto;
            text-align: left;
        }
    }
}

/* ----- ESTILOS DEL GRID ----- */

/// Asignación de área en la cuadrícula para el encabezado.
header {
    grid-area: header;
}

/// Asignación de área en la cuadrícula para la sección "Acerca".
.main_inicio {
    grid-area: acerca;
}

/// Asignación de área en la cuadrícula para el pie de página.
footer {
    grid-area: footer;
}

/// Configuración de la cuadrícula para la página de inicio.
.grid_inicio {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header"
    "acerca"
    "footer";
}
